# Framework
Flask==3.0.3
Werkzeug==3.0.3

# ORM
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.36

# MySQL driver
mysql-connector-python==9.0.0

# Server
gunicorn==21.2.0

# Utilidades (opcional)
python-dotenv==1.0.1

# Tests (opcional, si los usas)
pytest==8.3.4
pytest-cov==6.0.0
pytest-flask==1.3.0
codecov

