{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <h2>Editar Producto</h2>
    <form action="{{ url_for('producto_views.update_producto_post', id=producto.id) }}" method="POST">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{ producto.nombre }}" required>
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea class="form-control" id="descripcion" name="descripcion">{{ producto.descripcion }}</textarea>
      </div>
      <div class="mb-3">
        <label for="precio" class="form-label">Precio</label>
        <input type="number" class="form-control" id="precio" name="precio" value="{{ producto.precio }}" required step="0.01">
      </div>
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
    <br>
    <a href="{{ url_for('producto_views.producto_list') }}" class="btn btn-secondary mt-3">Regresar a la lista de productos</a>
  </div>
{% endblock %}
